header, footer{
	display: block;
}

html,body{
	margin:0;
	padding:0;
}

html{
	background: url(/images/MyMoviesWallpaper3.png) no-repeat fixed center center;
    webkit-background-size: cover;
    moz-background-size: cover;
    o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='MyMoviesWallpaper3.png',     sizingMethod='scale');
    -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='MyMoviesWallpaper3.png', sizingMethod='scale');
}

header{
	width: 98%;
	padding: 5px;
	margin: auto;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	box-shadow: 5px 5px 5px 5px #333333;
	background: rgb(147,24,2);
	background: -moz-linear-gradient(-45deg,  rgba(147,24,2,1) 1%, rgba(193,19,19,1) 99%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(1%,rgba(147,24,2,1)), 				color-stop(99%,rgba(193,19,19,1)));
	background: -webkit-linear-gradient(-45deg,  rgba(147,24,2,1) 1%,rgba(193,19,19,1) 99%);
	background: -o-linear-gradient(-45deg,  rgba(147,24,2,1) 1%,rgba(193,19,19,1) 99%);
	background: -ms-linear-gradient(-45deg,  rgba(147,24,2,1) 1%,rgba(193,19,19,1) 99%);
	background: linear-gradient(135deg,  rgba(147,24,2,1) 1%,rgba(193,19,19,1) 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#931802', endColorstr='#c11313',GradientType=1 );
}
#logo{
	float:left;
	margin-right: 5px;
	margin-left: 10px;
}
header h1{
	float: left;
	padding: 0px;
	padding-left: 10px;
	color: #CCC;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 5px 5px 5px #000000;
	letter-spacing: 2px;
	font-size:30px;
}
header h1 span{
	padding: 0px;
	font-size:36px;
}
nav{
	float: right;
	padding: 5px;
	margin-top: 50px;
	margin-right: 5px;
	background-color:#4D0F04;
	border-radius: 5px;
}
nav a{
	color: #FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration:none;
}

#clearfloat{
	clear: both;
}

#mainContent{
	width: 90%;
	margin: auto;
	margin-top: 10px;
	padding: 5px;
	text-align: justify;
}

footer{
	position: absolute;
	width: 365px;
	margin-left: -182.5px;
	left: 50%;
	bottom: 7px;
	background: rgba(179,21,13,.1);
	padding: 4px;
}
