@(message: String)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Registration</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")"/>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/signup.css")"/>
</head>

<body>
<header>
<div id="logo">
<a href="/home"><img src="@routes.Assets.at("images/logo2.png")"></a>
</div>
<h1>Movies<span>X</span>clusively<span>4</span>U</h1>
<br id="clearfloat" />

</header>

<div id="content">
<h2>Sign Up with this registration form:</h2>
<hr />
<form action="/signup" method="post">
    <div>
		<input type="text" placeholder="First Name" required="" id="firstname" />
        <input type="text" placeholder="Last Name" required="" id="lastname" />
	</div>
			<div>
				<input type="email" placeholder="Email Address" required=""
					id="email" />
			</div>
			<div>
		<input type="password" placeholder="Password" required="" id="password" />
	</div>
	<div>
          	<input type="text" placeholder="Age" required="" id="age" name="age" />
          </div>
          <div>
          	<span>Gender: </span>
          	<span>
           	<select id="gender" name="gender">
           		<option value="M">Male</option>
           		<option value="F">Female</option>
           	</select>
          	</span>
          </div>
	<div>
		<input type="submit" value="Register" />
	</div>
</form>
    
</div>
<footer>
Copyright 2013 | MoviesXclusively4U | All Rights Reserved
</footer>

</body>
</html>