<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to MoviesXclusively4U!</title>
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/home.css")">
</head>

<body>

	<header>
	<div id="logo">
		<a href="/home"><img src="@routes.Assets.at("images/logo2.png")"></a>
	</div>
	<h1>
		Movies<span>X</span>clusively<span>4</span>U
	</h1>
	<nav> <a href="/login">Member Sign in</a> </nav> <br
		id="clearfloat" />
	</header>

	<div id="mainContent">
		<h2>Welcome to MoviesXclusively4U! ... a movie recommendation
			system.</h2>

		<p>Our number one goal is to find you movies that you will love
			and enjoy, without the extra leg work of having to search through
			millions of options for the perfect watch.</p>

		<p>
			We have built our recommendations in two ways - Movies specific to
			your age and gender or all movies regardless of age and gender.
			Furthermore, a recommendation can be given collaboratively based on
			user similarity or item similarity.
			<ul>
				<li>User-based recommendations are calculated based on which
					movies your top 10 most similar users have liked.</li>
				<li>Item-based recommendations are calculated based other
					movies similar to the ones you have alread viewed.</li>
			</ul>
		</p>

		<p>We hope that you find our site useful and will enjoy watching
			the movies recommended for you!</p>
		<hr />

		<p id="link">
			New Members <a href="/signup">Sign up here</a> to begin receiving
			movie recommendations that will change the way you watch movies!
		</p>
	</div>

	<footer> Copyright 2013 | MoviesXclusively4U | All Rights
	Reserved </footer>

</body>
</html>
